<h1>会員一覧</h1>
<table>
  <thead>
    <tr>
      <td>会員ID</td>
      <td>氏名</td>
      <td>メールアドレス</td>
      <td>ステータス</td>
    </tr>
  </thead>
  <tbody>
       <% @customer.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><a><%= customer.last_name %> <%= customer.first_name %></a></td>
          <td><%= customer.email %></td>
          <% if customer.is_delete == FALSE %>
            <td>有効</td>
          <% else %>
            <td>退会済み</td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>